<% include partials/_header %>
  <h3 class="subtitle">Registrar nova locação</h3>


  <form id="automoveis-form" action="/addAgendamento" method="POST">
    <div class="form-group row">
      <label for="nome_cliente" class="col-sm-2 col-form-label">Cliente</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="nome_cliente" name="nome_cliente">
      </div>
    </div>
    <div class="form-group row">
      <label for="contato" class="col-sm-2 col-form-label">Contato</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="contato" name="contato">
      </div>
    </div>
    <div class="form-group row">
      <label for="modelo_veiculo" class="col-sm-2 col-form-label">Modelo do Veiculo</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="modelo_veiculo" name="modelo_veiculo">
      </div>
    </div>
    <div class="form-group row">
      <label for="status" class="col-sm-2 col-form-label">Status</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="status" name="status">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Registrar</button>
  </form>

  <table class="table">
    <thead>
      <tr>
        <th>Cliente</th>
        <th>Contato</th>
        <th>Modelo do Veiculo</th>
        <th>Data do Agendamento</th>
        <th>Status</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      <% if (data) { %>
        <% for(var i=0; i < data.length; i++) { %>
          <tr>
            <td>
              <%= data[i].nome_cliente %>
            </td>
            <td>
              <%= data[i].contato %>
            </td>
            <td>
              <%= data[i].modelo_veiculo %>
            </td>
            <td>
              <%= data[i].data %>
            </td>
            <td>
              <%= data[i].status %>
            </td>
            <td>
              <a href="/update/<%= data[i].id %>" class="btn btn-info">Editar</a>
              <a href="/delete/<%= data[i].id %>" class="btn btn-danger">Remover</a>
            </td>
          </tr>
          <% } %>
            <% } %>
    </tbody>
  </table>
  <% include partials/_footer %>